@import 'src/colors';

.rating {
    display: inline-block;
    color: #1f3348;

    b {
        font-size: 20px;
        font-weight: 700;
    }
}

.rating-bar {
    width: 192px;
    margin-top: 5px;
    height: 8px;
    border-radius: 5px;
    border: none;
    background-color: $hover_grey;
}

.rating-red {
    background-color: #dd4e47;
}
.rating-yellow {
    background-color: #f8d65b;
}
.rating-green {
    background-color: #83b63c;
}
