@import 'src/colors';

.search-input {
    display: flex;
    position: relative;
    flex: 1 1 auto;
}

.search-bar {

    display: flex;

    img {
        position: absolute;
        left: 9.6px;
        top: 4.8px;
        width: 18.4px;
        height: 36.8px;
    }

    input[type=text] {
        flex: 1 1 auto;
        border: 1px solid #bfc9d3;
        border-right: none;
        background-color: #f9fbfc;
        padding-left: 35.2px;
        border-radius: 5px 0px 0px 5px;
    }

    input[type=text]:focus {
        border: 1px solid #677d90;
        background-color: white;
        outline-width: 0;
    }

    input[type=text]:focus::placeholder {
        color: transparent;
    }

    input[type=submit] {
        padding: 13px 0;
        border: 1px solid $border_grey;
        border-radius: 0px 5px 5px 0px;
        background: linear-gradient(#ffffff, #edf3f5);
        flex: 0 0 100px;
    }

    input[type=submit]:hover {
        background: white;
    }

    input[type=submit]:active {
        box-shadow: inset 0px 5px 5px -5px #bfc9d3;
    }
}

.clear-text {
    color: #4279c0;
    position: absolute;
    right: 16px;
    top: 14px;
}
