@import 'src/colors';

.btn {
    border-radius: 1.5em;
    background-color: #92c744;
    color: white;
    border: 0;
    padding: 0.6em;

    .fa-play {
        margin-right: 0.5em;
    }
}

.btn-available:hover {
    background-color: #75a634;
}

.btn-unavailable {
    background-color: #d7dfe5;
    color: #587085;
}

.btn-filter {
    background-color: white;
    border: 1px solid $border_grey;
    border-radius: 3px;
    padding: 0.4em 0.7em;

    margin-right: 1em;
    margin-top: 1em;
}
.btn-filter:hover {
    background-color: $hover_grey;
}

.btn-filter.selected {
    border: 1px solid $selected_dark;
    background-color: $selected_dark;
    color: white;
}
