@import 'src/colors';

.btn {
    border-radius: 24px;
    background-color: #92c744;
    color: white;
    border: 0;
    padding: 9.6px;

    .fa-play {
        margin-right: 8px;
    }
    float: right;
}

.btn-available:hover {
    background-color: #75a634;
}

.btn-unavailable {
    background-color: #d7dfe5;
    color: #587085;
}

.btn-filter {
    background-color: white;
    border: 1px solid $border_grey;
    border-radius: 3px;
    padding: 6px 11px;

    margin-right: 22px;
    margin-top: 16px;

}
.btn-filter:hover {
    background-color: $hover_grey;
}

.btn-filter.selected {
    border: 1px solid $selected_dark;
    background-color: $selected_dark;
    color: white;
}
