@import 'src/colors.scss';

.App {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 750px;
    margin: 0px auto;
}

.header {
    background-color: $theme_primary;
    color: white;
    display: flex;
    font-size: 18pt;
    padding: 0.8em 1.1em;

    span {
        font-weight: 600;
    }
}

.contents {
    padding: 0.8em 1.1em;
}

hr {
    border: 1px solid $border_grey;
    border-bottom: none;
}

.single-result {
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.result-row {
    display: flex;

    img {
        width: 160px;
        box-shadow: 1em 2em 2em 0px #d4d9dd;
    }

    h3 {
        font-weight: bold;
    }

    label {
        background-color: white;
        border: 1px solid $border_grey;
        border-radius: 3px;
        padding: 0.2em 0.3em;

        margin-right: 1em;
        margin-top: 1em;
    }
}
