@import 'src/colors.scss';

.App {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 760px;
    margin: 1px auto;

    //box-shadow: 0px 10px 10px 0px #dbe2e8;
    border-radius: 4px;
    box-shadow: 0px 10px 10px 0px $border_grey;
}

.header {
    border: 1px solid $border_grey;
    border-radius: 4px 4px 0px 0px;

    background-color: $theme_primary;
    color: white;
    display: flex;
    font-size: 18pt;
    padding: 16px 24px;

    span {
        font-weight: 600;
    }
}

.contents {
    padding: 20px 22px;

    border: 1px solid $border_grey;
    border-top: none;
    border-radius: 0px 0px 4px 4px
}

hr {
    border: 1px solid $border_grey;
    border-bottom: none;
}

.single-result {
    margin-top: 16px;
    margin-bottom: 4.8px;
}

.result-row {
    margin-top: 26px;
    display: flex;

    .text-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    img {
        width: 160px;
        margin-right: 22px;
        box-shadow: 16px 32px 32px 0px #d4d9dd;
    }

    .title {
        vertical-align: top;
        margin-top: -3px;
        font-weight: bold;

        span {
            font-weight: 400;
            color: $release_color;
            margin-left: 4px;
        }
    }

    .subtitle {
        color: $release_color;
    }

    label {
        display: inline-block;
        background-color: white;
        border: 1px solid $border_grey;
        border-radius: 3px;
        padding: 3px 8px;

        margin-right: 16px;
        margin-top: 8px;
    }

    .details {
        margin-top: 20px;
        line-height: 1.4;
    }
}
