@import 'colors';

.search-input {
    display: flex;
    position: relative;
    flex: 1 1 auto;
}

.search-bar {

    display: flex;

    img {
        position: absolute;
        left: 0.6em;
        top: 0.3em;
        width: 1.2em;
        height: 2.4em;
    }

    input {
        flex: 1 1 auto;
        border: 1px solid #bfc9d3;
        border-right: none;
        background-color: #f9fbfc;
        padding-left: 2.2em;
        border-radius: 5px 0px 0px 5px;
    }

    input:focus {
        border: 1px solid #677d90;
        background-color: white;
        outline-width: 0;
    }

    input:focus::placeholder {
        color: transparent;
    }

    button {
        padding: 13px 0;
        border: 1px solid $border_grey;
        border-radius: 0px 5px 5px 0px;
        background: linear-gradient(#ffffff, #edf3f5);
        flex: 0 0 100px;
    }

    button:hover {
        background: white;
    }

    button:active {
        box-shadow: inset 0px 5px 5px -5px #bfc9d3;
    }
}

.clear-text {
    color: #4279c0;
    position: absolute;
    right: 1em;
    top: 14px;
}
