.search-bar {
    display: flex;
}

.search-input {
    display: flex;
    flex: 1 1 auto;
}

.search-bar img {
    position: absolute;
    left: 0.6em;
    top: 0.3em;
    width: 1.2em;
    height: 2.4em;
}

.search-bar input {
    flex: 1 1 auto;
    border: 1px solid #bfc9d3;
    border-right: none;
    background-color: #f9fbfc;
    padding-left: 2.2em;
    border-radius: 5px 0px 0px 5px;
}

.search-bar input:focus {
    border: 1px solid #677d90;
    background-color: white;
    outline-width: 0;
}

.search-bar input:focus::placeholder {
    color: transparent;
}

.clear-text {
    color: #4279c0;
    position: absolute;
    right: 8em;
    top: 14px;
}

.search-bar button {
    padding: 13px 0;
    color: #3b5266;
    border: 1px solid #bfc9d3;
    border-radius: 0px 5px 5px 0px;
    background: linear-gradient(#ffffff, #edf3f5);
    flex: 0 0 100px;
}

.search-bar button:hover {
    background: white;
}

.search-bar button:active {
    box-shadow: inset 0px 5px 5px -5px #bfc9d3;
}
